* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #000011;
  color: white;
}
.background {
  background-image: linear-gradient(to bottom,transparent 40%,rgba(0,0,17,0.95) 70%, #000011), url("https://images.unsplash.com/photo-1446776653964-20c1d3a81b06?w=1920");
  width: 100vw;
  height: 100vh;
  background-position: top;
  background-size: cover;
  z-index: 1;
  position: relative;
  box-shadow: 0 50px 50px black;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 100;
  font-family: 'Orbitron', cursive;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 0 0 20px rgba(100, 150, 255, 0.8), 2px 2px 5px rgba(0,0,0,0.8);
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.layer-1 {
  background-image: linear-gradient(to bottom,transparent 50%,rgba(0, 0, 17,0.85) 70%, #000011), url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564?w=1920");
  z-index: 70;
}
.layer-2 {
  background-image: linear-gradient(to bottom,transparent 30%,rgba(0,0,17,0.9) 80%, #000011), url("https://images.unsplash.com/photo-1446776877081-d282a0f896e2?w=1920");
  z-index: 80;
}
.layer-3 {
  background-image: 
    linear-gradient(to bottom,transparent 60%,rgba(0, 0,17,0.85), #000011), url("https://images.unsplash.com/photo-1502134249126-9f3755a50d78?w=1920");
  z-index: 90;
}
.content {
  font-size: 1.2rem;
  line-height: 1.7;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1465101162946-4377e57745c3?w=1920");
  background-size: cover;
  background-attachment: fixed;
}
.text {
  padding: 4rem 10rem 20rem 40rem;
}
.planet {
  background-image: url("https://images.unsplash.com/photo-1502134249126-9f3755a50d78?w=1920");
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-position: left center;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  opacity: 0.3;
}
.planets {
  position: absolute;
  z-index: 1000;
  filter: drop-shadow(0 0 10px rgba(100, 150, 255, 0.6));
}
.planet-1 {
 width: 100px;
 height: 100px;
 left: 10%;
 top: 50%;
}
.planet-2 {
  width: 120px;
  height: 120px;
  left: 20%;
  top: 30%;
}
.planet-3 {
  width: 80px;
  height: 80px;
  left: 10%;
  bottom: 20%;
}
.planet-4 {
  width: 130px;
  height: 130px;
  bottom: 0;
  left: 31%;
}
.planet-5 {
  width: 110px;
  height: 110px;
  bottom: 0;
  left: 5%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.planet-6 {
  width: 70px;
  height: 70px;
  bottom: 30%;
  left: 20%;
}
.planet-7 {
  width: 120px;
  height: 120px;
  bottom: 35%;
  left: 15%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.planet-8 {
  width: 50px;
  height: 50px;
  bottom: 25%;
  left: 25%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.planet-9 {
  width: 70px;
  height: 70px;
  bottom: 35%;
  left: 30%;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  .planets, .planet {
    display: none;
  }
  .text {
    padding: 0 3rem 5rem 3rem;
  }
}

